<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}}</title>
	    <script type="module" src="../../../../src/main/typescript/my-footer.ts"></script>
	    <script type="module" src="../../../../src/main/typescript/my-header.ts"></script>
	</head>
	<body>
		<div class="header">
			<my-header></my-header>
		</div>
		<div class="content">
			{{content_template}}
		</div>

		<div class="footer">
			<my-footer></my-footer>
		</div>
	</body>
</html>